:root {
  --bg-color: #faf4ea;
  --main-txt-color: #31261a;
  --main-accent-color: #819b57;
}

body {
  background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.navigation-link {
  color: #faf4ea;
}

.navigation-link:active {
  color: #819b57;
}

.button {
  padding: 16px 32px;
  background-color: #819b57;
  gap: 10px;
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #faf4ea;
  border-radius: 8px;
  border: 2px;
  border-color: #819b57;
  cursor: pointer;
}

.button:hover {
  color: #465929;
  background-color: transparent;
  border-color: #819b57;
  border: 2px;
}
.section-hero {
  padding: 272px 0;
  background-image: url(../images/hero-bg.jpg),
    radial-gradient(#121211c7, #12121199, #12121100);
}
.hero-title {
  font-family: Poppins;
  font-weight: 900;
  font-size: 128px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #faf4ea;
}
.hero-title .accent {
  color: #819b57;
}

.section-title {
  color: #31261a;
  font-family: Poppins;
  font-weight: 900;
  font-style: Black;
  font-size: 64px;
  line-height: 84px;
  letter-spacing: 0%;
  text-align: center;
}

.section {
  padding: 48px 0;
}
.advantages-list {
  display: flex;
  gap: 160px;
  color: #faf4ea;
  background-color: #819b57;
  font-family: Poppins;
  font-weight: 300;
  font-style: Light;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-top: 16px;
  padding-bottom: 16px;
}
