:root {
  --bg-color: #faf4ea;
  --main-txt-color: #31261a;
  --main-accent-color: #819b57;
}

body {
  background-color: var(--bg-color);
  font-family: "Poppins", sans-serif;
}
.section {
  padding: 48px 0;
}
.container {
  width: 1240px;

  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}
/*Header */
.header {
  background-color: gray;
  margin-top: 32px;
}
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-navigation {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}
.navigation-link {
  color: #faf4ea;
}

.navigation-link:active {
  color: #819b57;
}

.button {
  padding: 16px 32px;
  background-color: #819b57;
  gap: 10px;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #faf4ea;
  border-radius: 8px;
  border: 2px;
  border-color: #819b57;
  cursor: pointer;
}

.button:hover {
  color: #465929;
  background-color: transparent;
  border-color: #819b57;
  border: 2px;
}

/*Section Hero */
.section-hero {
  padding: 272px 0;
  background-image: url(../images/hero-bg.jpg),
    radial-gradient(#121211c7, #12121199, #12121100);
}
.hero-title {
  font-weight: 900;
  font-size: 128px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #faf4ea;
}
.hero-title .accent {
  color: #819b57;
}

/*Section Advantages */
.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: ;
}
.section-title {
  color: var(--main-txt-color);
  font-weight: 900;
  font-size: 64px;
  line-height: 84px;
  letter-spacing: 0%;
}

.section {
  padding: 48px 0;
}

.advantages-section {
  background-color: #819b57;
  padding-top: 0;
  padding-bottom: 0;
}
.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  color: #faf4ea;

  font-family: Poppins;
  font-weight: 300;
  font-style: Light;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-top: 16px;
  padding-bottom: 16px;
}
.section-title {
  font-style: 64px;
  font-weight: 900;
  line-height: 1.3;
}

/*Section traditions */
.traditions-section {
  display: inline;
}

.traditions-left {
  width: 708px;
}

.traditions-text {
  margin-top: 42px;
  font-weight: 600;
  font-style: 18px;
  line-height: 1;
}

.traditions-accent {
  font-weight: 400;
  font-style: 18px;
  line-height: 1;
  color: var(--main-accent-color);
}

.accent-upper {
  text-transform: uppercase;
}
.baker-man {
  display: block;
  width: 393px;
  height: 466px;
}
