*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
  font-family: "Poppins", sans-serif;
  font-style: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}
