@use "./utils/fonts";
@use "./utils/utils";
@use "./utils/variables";

@use "./base";
@use "./components/section";
@use "./components/buttons";
@use "./components/links";
@use "./components/header";
@use "./components/hero";
@use "./components/advantages";
@use "./components/traditions";
@use "./components/chefs-section";
@use "./components/formats-section";
@use "./components/contacts-section";
@use "./components/footer";
@use "./components/modal";
