*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
  font-family: "Poppins", sans-serif;
  font-style: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

:root {
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-secondary-dark: #a18268;
  --color-brand-dark: #465929;
  --color-brand-normal: #819b57;
  --color-brand-light: #cfcfbc;
}

.button {
  padding: 16px 32px;
  background-color: var(--color-brand-normal);
  font-weight: 600;
  color: var(--color-primary-light);
  border: 2px solid var(--color-brand-normal);
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}

.link {
  color: var(--color-primary-light);
  transition: color 0.3s;
}

.link:hover {
  color: var(--color-brand-normal);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 32ps;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}

.section-hero {
  padding: 272px 0;
  background-image: linear-gradient(102.76deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.6) 58.46%, rgba(18, 18, 17, 0) 90.36%), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-title {
  margin-bottom: 0;
  color: var(--color-primary-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}

.hero-title .accent {
  color: var(--color-brand-normal);
}

.advantages-section {
  padding: 16px 0;
  background-color: var(--color-brand-normal);
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.advantages-item {
  color: var(--color-primary-light);
  font-style: 20px;
  font-weight: 300;
}

.section {
  padding: 48px 0;
}

.container {
  width: 1240px;
  margin: 0 auto;
}

/*Section Advantages */
.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
}

.section-title {
  color: var(--main-txt-color);
  font-weight: 900;
  font-size: 64px;
  line-height: 84px;
  letter-spacing: 0%;
  text-align: center;
}

.section {
  padding: 48px 0;
}

.section-title {
  font-style: 64px;
  font-weight: 900;
  line-height: 1.3;
}

/*Section traditions */
.traditions-section {
  display: inline;
  padding-top: 96px;
}

.traditions-left {
  width: 700px;
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-text {
  margin-top: 42px;
  font-weight: 400;
  font-style: 18px;
  line-height: 1;
  margin-bottom: 42px;
}

.traditions-accent {
  font-weight: 400;
  font-style: 18px;
  line-height: 1;
  color: var(--main-accent-color);
}

.accent-upper {
  text-transform: uppercase;
}

.baker-man {
  display: block;
  width: 393px;
  height: 466px;
}

/* Chefs*/
.chefs-title {
  position: relative;
  text-align: center;
  margin-bottom: 0 auto 80px;
}

.chefs-title::before {
  position: absolute;
  left: 8px;
  bottom: 24px;
  width: 352px;
  border: 2px solid var(--accent-color-light);
  content: " ";
}

.chefs-title::after {
  position: absolute;
  right: 8px;
  bottom: 24px;
  width: 352px;
  border: 2px solid var(--accent-color-light);
  content: " ";
}

.chef-accent {
  color: var(--tittle-accent);
}

.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--bg-color), -16px 16px 0 2px var(--color-secondary-dark);
}

.chef-article-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

/*Formats*//*# sourceMappingURL=main.css.map */