@import "./utils/utils";
@import "./utils/variables";

@import "./base";

@import "./components/buttons";
@import "./components/links";
@import "./components/header";
@import "./components/hero";
@import "./components/advantages";
@import "./components/chefs-section";
@import "./components/formats-section";
@import "./components/footer";
@import "./components/modal";

.section {
  padding: 48px 0;
}
.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

/*Section Advantages */

.section-title {
  color: var(--main-txt-color);
  font-weight: 900;
  font-size: 64px;
  line-height: 84px;
  letter-spacing: 0%;
  text-align: center;
}

.section {
  padding: 48px 0;
}

.section-title {
  font-style: 64px;
  font-weight: 900;
  line-height: 1.3;
}
