.chefs-title {
  // position: relative;
  // text-align: center;
  // margin-bottom: 80px;
  max-width: 520px;
  margin: 0 auto 80px;
}

.chefs-title::before,
.chefs-title::after {
  display: block;
  width: 352px;
  border: 2px solid var(--color-brand-light);
  content: " ";
}
// .chefs-title::after {
//   position: absolute;
//   right: 8px;
//   bottom: 24px;
//   width: 352px;
//   border: 2px solid var(--accent-color-light);
//   content: " ";
// }

//   position: absolute;
//   left: 8px;
//   bottom: 24px;

.chefs-list {
  display: flex;
  // gap: 30px;
}
.chef-card {
  display: flex;
  gap: 30px;
}

.chef-article {
  display: flex;
  gap: 30px;
}
.chef-accent {
  color: var(--color-brand-normal);
}

.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light),
    -16px 16px 0 2px var(--color-secondary-dark);
}

.chef-article-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-bottom: 16px;
}

.chef-article-text {
  font-size: 18px;
  line-height: 100%;
  vertical-align: middle;
  margin-bottom: 16px;
  min-width: 334px;
}
