.contacts-container {
  display: flex;
  gap: 32px;
}
.contacts-section-wrap {
  max-width: 605px;
}

.contacts-title {
  font-weight: 900;
  font-size: 64px;
  line-height: 1.3;
  margin-bottom: 16px;
}

.contact-text {
  color: var(--color-brand-dark);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  vertical-align: middle;
  margin-bottom: 42px;
}

.contact-form {
  max-width: 605px;
}

.contact-form input {
  border: 1px solid var(--color-secondary-dark);
}

.contact-form-submit {
  margin-bottom: 16px;
}

.contact-link {
  margin-top: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
}
.form-label {
  display: block;
}
.form-input {
  padding: 16px 42px;
  width: 100%;
  font-style: 16px;
  line-height: 1.17;
  border: 1px solid var(--color-secondary-dark);
  border-radius: 8px;
  background-color: transparent;
  margin-bottom: 32px;
}

.form-input:focus {
  border-color: var(--color-brand-normal);
  outline: none;
}

.form-input::placeholder {
  color: var(--color-secondary-dark);
  font-size: 16px;
  line-height: 1.16;
}
.form-input:focus::placeholder {
  color: var(--color-primary-dark);
}
.contact-form-submit {
  display: block;
  margin: 0 auto;
}
