.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 32px;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;

  @media screen and (max-width: $bp-desctop) {
    display: none;
  }
}

.header__button {
  display: none;
  @media screen and (max-width: $bp-desctop) {
    display: block;
  }
}

.hearder__burger {
  display: none;
  @media screen and (min-width: $bp-desctop) {
    display: block;
    color: var(--color-primary-light);
  }
}
