/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: relative;
  width: 880px;
  height: 880px;
  background-color: var(--bg-color);
  border-radius: 32px;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  /* display: none; */
}

.modal-btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
}
