/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  padding: 128px;
  background-color: var(--color-primary-light);
  border-radius: 32px;
  background-image: url(../../images/modal-img.png);
  background-repeat: no-repeat;
  background-position: bottom 0 right 0;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  /* display: none; */
}

.modal-btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
}

.modal-title {
  font-weight: 900;
  font-size: 64px;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 8px;
}

.modal-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: var(--color-brand-dark);
  margin-bottom: 72px;
}
